{% extends "account_base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-md-center" style="margin-top:5em">
        <div class="col-12 col-lg-4">
            <br>
            <h2>Reset Password</h2>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
            <p>We have sent an email to the address that you have recently submitted. The email contains instructions on how to change your password</p>    
        </div>
    </div>
</div>


{% endblock %}