{% extends "base.html" %}
{% load static %}
{% load book_feature %}

{% block content %}

<h1>Your Shopping Cart</h1>
<hr>

<form action="" method="post">
    {% csrf_token %}
    {{formset.management_form}}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
            <th>#</th>
            <th>id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    {% for form in formset %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><input name="form-{{forloop.counter0}}-book_id" value="{{form.book_id.value}}" type="text" readonly></td>
                <td><input name="form-{{forloop.counter0}}-title" value="{{form.title.value}}" type="text" readonly></td>
                <td><input name="form-{{forloop.counter0}}-price" step="any" value="{{form.price.value}}" type="text" readonly></td>
                <td>{{form.quantity}}</td>
                <td>{{form.delete}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="row">
        <div class="col-4 mr-auto">
            <button class="btn btn-sm btn-primary" type="submit">Update Cart&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></button>
            <button class="btn btn-sm btn-primary pull-right">Check Out&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart fa-lg"></i></button>
        </div>
        <div class="col-4 ml-auto">
            <ul class="list-group">
                <li class="list-group-item">Total Excluding VAT - R{{total_excl}}</li>
                <li class="list-group-item">Total Including VAT - R{{total_bill}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">

    </div>
    <br>
</form>

{% endblock %}
