{% extends "base.html" %}
{% load static %}
{% load book_feature %}

{% block content %}

<h1 class="display-4">Your Shopping Cart</h1>
<hr>

<form action="" method="post">
    {% csrf_token %}
    {{formset.management_form}}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
            <th>#</th>
            <th>id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    {% for form in formset %}
            <tr>
                <th scope="row">{{forloop.counter0}}</th>
                <td><input name="form-{{forloop.counter0}}-book_id" value="{{form.book_id.value}}" type="text" readonly></td>
                <td><input name="form-{{forloop.counter0}}-title" value="{{form.title.value}}" type="text" readonly></td>
                <td><input name="form-{{forloop.counter0}}-price" step="any" value="{{form.price.value}}" type="text" readonly></td>
                <td>{{form.quantity}}</td>
                <td>{{form.delete}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="form-group pull-right">
        <button class="btn btn-primary" type="submit">Update Cart&nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary">Check Out&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart fa-lg"></i></button>
    </div>
</form>

{% endblock %}
