{% extends 'base.html' %}
{% load static %}
{% load book_feature %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Category - <small class="text-muted">{{book_category}}</small></h1>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        {% for book in book_results %}
        <div class="col-12 col-lg-4 search-item">
            <a href="/book/{{ book.book_title }}">
            <figure class="figure">
               <img class="figure-img " height="324" width="220" src="../../{{ book.book_image | img_src }}"> 
               <figcaption class="figure-caption">{{ book.book_title }}</figcaption>
               <figcaption class="figure-caption">by - {{ book.book_author }}</figcaption>
               <figcaption class="figure-caption">R{{ book.book_price }}</figcaption>
            </figure>
            </a>
        </div>
        {% endfor %}
    </div>

    <hr>

    <div class="row d-flex justify-content-center">
        <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if book_results.has_previous %}
            <li class="page-item"><a class="page-link" href="?query={{query}}&page={{ book_results.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" disabled="true">Previous</a></li>
            {% endif %}

            {% for page_num in range %}
                {% if page_int == forloop.counter %}
                <li class="page-item active"><a class="page-link" href="?query={{query}}&page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?query={{query}}&page={{ forloop.counter }}">{{forloop.counter}}</a></li>                
                {% endif %}
            {% endfor %}

            {% if book_results.has_next %}
            <li class="page-item"><a class="page-link" href="?query={{ query }}&page={{ book_results.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
        </nav>
    </div>
</div>



{% endblock %}