{% extends 'base.html' %}
{% load static %}
{% load book_feature %}
{% block content %}

<h1 class="display-4">Category - {{book_category}}</h1>
<hr>



<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col-4">
            <a href="/book/{{ book.book_title }}">
            <figure class="figure">
               <img class="figure-img " height="324" width="220" src="../../{{ book.book_image | img_src }}"> 
               <figcaption class="figure-caption">{{ book.book_title }}</figcaption>
               <figcaption class="figure-caption">by - {{ book.book_author }}</figcaption>
               <figcaption class="figure-caption">R{{ book.book_price }}</figcaption>
            </figure>
            </a>
        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}