{% extends 'base.html' %}
{% load static %}
{% load book_feature %}
{% block content %}

<div class="heading-top">
  <h3>Recomended Books To Feed Your Thoughts</h3>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container-fluid">
        {% for recomended in recomended_books|cut_array:'3,0' %}
            <a href="book/{{recomended.book_title}}">
            <figure class="figure">
              <img class="figure-img rounded" height="324" width="220" src={{recomended.book_image | img_src}}>
              <figcaption class="figure-caption">
                <b class="hidden-md-down">Rating</b>&nbsp;
                {% for i in recomended.book_rating|range %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %}
                {% for i in recomended.book_rating|stars_off %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endfor %}
              </figcaption>
            </figure>
            </a>
        {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid">
        {% for recomended in recomended_books|cut_array:'6,3' %}
            <a href="book/{{recomended.book_title}}">
            <figure class="figure">
              <img class="figure-img rounded" height="324" width="220" src={{recomended.book_image | img_src}}>
              <figcaption class="figure-caption">
              <b class="hidden-md-down">Rating</b>&nbsp;
              {% for i in recomended.book_rating|range %}
              <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
              {% for i in recomended.book_rating|stars_off %}
              <i class="fa fa-star-o" aria-hidden="true"></i>
              {% endfor %}
              </figcaption>
            </figure>
            </a>
        {% endfor %}
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid">
        {% for recomended in recomended_books|cut_array:'9,6' %}
            <a href="book/{{recomended.book_title}}">
            <figure class="figure">
              <img class="figure-img rounded" height="324" width="220" src={{recomended.book_image | img_src}}>
              <figcaption class="figure-caption">
              <b class="hidden-md-down">Rating</b>&nbsp;
              {% for i in recomended.book_rating|range %}
              <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
              {% for i in recomended.book_rating|stars_off %}
              <i class="fa fa-star-o" aria-hidden="true"></i>
              {% endfor %}
              </figcaption>
            </figure>
            </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{{cart_items}}
{% endblock %}