{% extends "base.html" %}
{% load static %}
{% load book_feature %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong> 
        </div>
    {% endfor %}
{% endif %}

<h2>Your Shopping Cart</h2>
<hr>
<br>
<div class="row">
    <div class="col-12 col-md-7">
        {% if number_of_items %}
        <form action="" method="post">
            {% csrf_token %}
            {{formset.management_form}}
            <table class="table table-sm">
                <thead class="thead-inverse">
                    <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
            {% for form in formset %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="hidden">
                            {{form.book_id.value}}
                            <input name="form-{{forloop.counter0}}-book_id" value="{{form.book_id.value}}" type="text" readonly>
                        </td>
                        <td>
                            <a href="/book/{{form.title.value}}/">{{form.title.value}}</a>
                            <input class="hidden" name="form-{{forloop.counter0}}-title" value="{{form.title.value}}" type="text" readonly>
                        </td>
                        <td>
                            R{{form.price.value}}
                            <input class="hidden" name="form-{{forloop.counter0}}-price" step="any" value="{{form.price.value}}" type="text" readonly>
                        </td>
                        <td class="numinput">
                            {{form.quantity}}
                        </td>
                        <td>{{form.delete}}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center cart-button">
                <button class="btn btn-block btn-secondary" type="submit">Update Cart&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></button>
            </div>
        </form>
        {% else %}
        <h3>Your cart is empty! Add items to your cart!</h3>
        <br>
        <i class="fa fa-cart-arrow-down fa-5x d-flex justify-content-center" aria-hidden="true"></i>
        {% endif %}
    </div>
    <div class="col-12 col-md-5"><br class="hidden-md-up">
        <table class="table table-sm table-hover">
            <tr>
                <td><strong>Total Number of Items</strong></td>
                <td>{{total_number_of_items}}</td>
            </tr>
            <tr>
                <td><strong>Total Excluding VAT</strong></td>
                <td>R{{total_excl}}</td>
            </tr>
            <tr>
                <td><strong> Total Including VAT </strong></td>
                <td>R{{total_bill}}</td>
            </tr>
        </table>
        <br>
        <div class="d-flex justify-content-center cart-button">
            <a href="/payment/" class="btn btn-block btn-secondary">Check Out&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart fa-lg"></i></a>
        </div>
    </div>
</div>
<br>
<hr>

{% endblock %}
